.App {
  text-align: center;
  margin:30px;
}
body{
  font-family: 'Barlow', sans-serif;
}
#main-container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ais-SearchBox{
  margin: 3px;
}
.ais-SearchBox-input{
  padding: 10px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  height: 50px;
}
.ais-SearchBox-submit{
  background-color: lightskyblue;
  border: 1px solid grey;
  width: 50px;
  border-radius: 9px;
  margin: 0px 0px 0px 10px;
  height: 50px;
}
.ais-SearchBox-reset{
  background-color: lightskyblue;
  border: 1px solid grey;
  width: 50px;
  border-radius: 9px;
  margin: 0px 0px 0px 10px;
  height: 50px;
}
.ais-SearchBox-submit{
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
